.admin-settings
  position: fixed
  top: 0
  left: 0
  background: rgba(0, 0, 0, 0.4)
  width: 100vw
  height: 100vh
  z-index: 1043

  &-container
    position: absolute
    padding: 30px
    width: 100%
    height: 100%
    overflow-y: auto

    &-inner
      background-color: white
      overflow-y: auto

    .fixed-top
      top: 30px
      left: 30px
      right: 30px

      .nav-link i
        font-size: 0.8rem
